<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="light.css">
  <script src="client.js"></script>
  <title>Jepp</title>
</head>
<body>
  <h1>Jepp</h1> <br>

  <p>You are logged in as <%= loggedinas %>.</p>

  <a href="/">Home</a>
  <a href="about">About</a>
  <a href="logout">Logout</a>
</body>
</html>