<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/light.css">
    <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
    <title>Jepp signup</title>
</head>
<body>
    <h1>Signup</h1>
    <h3 id="message"><%= message %></h3>

    <form action="/signup" method="post">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div> <br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div> <br>
        <div class="select">
            <label for="gender">Gender </label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div> <br>
        <input type="submit" value="Submit">
    </form> <br>
    
    <div id="links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
</body>
<script src="/theme.js"></script>
</html>