<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/light.css">
    <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
    <title>Jepp all users</title>
</head>
<body>
    <h1>All users</h1> <br>

    <ul>
      <% data.forEach(function(d) { %>
        <li>
          <a href="/user/<%= d.username %>"><%= d.username %></a>
        </li>
      <% }); %>
    </ul>

    <div id="links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
</body>
<script src="/theme.js"></script>
</html>